# djangocms-forms does not support Django 2
Django>=1.11,<2.0
# Pillow~=3.0
Pillow  ## attempting fix of ValueError: Operation on closed image
boto3==1.5.0
django-classy-tags~=1.0.0
django-cms>=3.7,<3.8
django-filer~=1.7.1
django-mptt~=0.9
django-sekizai~=1.1.0
# django-storages~=1.9.1
django-storages==1.6.3  ## attempting fix of ValueError: Operation on closed image
django-treebeard>=4.0,<5.0
djangocms-admin-style>=1.3,<1.5
djangocms-file>=2.2,<3.0
djangocms-forms
django-ipware~=2.1
djangocms-googlemap~=1.2
djangocms-link~=2.3
djangocms-picture>=2.0,<2.2
djangocms-snippet>=2.3,<2.4
djangocms-style~=2.1
djangocms-text-ckeditor>=3.7,<3.8
djangocms-video>=2.0,<2.2
easy_thumbnails
gunicorn
html5lib>=1.0.1
psycopg2<2.8
pytz
six
whitenoise
jsonfield~=3.0.0

webencodings
unidecode
django-polymorphic==1.3
djangocms_attributes_field
django-appconf
hashids
django-hashids
django-formtools
tablib
botocore
python-dateutil
jmespath
s3transfer
